<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
    <link
      href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Gloock&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap" rel="stylesheet">
    <!-- Add AOS CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css"
    />
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
    <!-- <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script> -->
    <title>{% block title %} {% endblock title %}</title>
    {% block head %} {% endblock head %}
  </head>
  <body>
      <nav>
        <div id="navlinks">

          <div class="nav-left" id="NavBar">
            <ul>
              <li><a href="">Home</a></li>
              <li><a href="">About Us</a></li>
              <li><a href="">What We Do</a></li>
            </ul>
          </div>

          <div class="nav-right" id="NavBar">
            <ul>
              <li><a href="">Our Work</a></li>
              <li><a href="">FAQ</a></li>
              <li><a href="" id="contact-us-nav">Contact Us</a></li>
            </ul>
          </div>
        </div>

        <div class="logo-container">
          <img src="/oceandrill/static/img/Ocean Drill.png" alt="logo" />
        </div>
          
          <span class="menu-logo" id="show-menu"><img src="/oceandrill/static/img/bars-solid.svg" alt=""  onclick="showmenu()"></span>
      </nav>
    {% block content %} 
    
    
    {% endblock content %}
    <section class="footer-container">
      <div class="useful-link-wrapper">
          <h2>Useful links</h2>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/ourservices">About US</a></li>
              <li><a href="/about_us/">What We Do</a> </li>
              <li><a href="">Our Work</a></li>
              <li><a href="">FAQ</a> </li>
              <li><a href="/contactUs/">Contact us</a> </li>
          </ul>
      </div>
      <span data-aos="fade"  data-aos-duration="1000" data-aos-easing="ease"><img id="drill-logo-footer" src="/oceandrill/static/img/Ocean Drill.png"  alt=""></span>
      <div class="contact-details-wrapper">
          <h2>Get in touch</h2>
          <img src="/oceandrill/static/img/location-dot-solid.svg" alt="location:">
          <p>KCB Building,Enterprise Rd, Nairobi</p>
          <img src="/oceandrill/static/img/envelope-solid.svg" alt="email:">
          <p>info@sedologistics.co.ke</p>
          <img src="/oceandrill/static/img/phone-solid.svg" alt="phone:">
          <p>+254 722973090</p>
          
      </div>
      <p id="copyright-footer">copyright © 2023 • All rights reserved • Sedo logistcs limited</p>
  </section>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
             
        function showmenu() {
          var x = document.getElementById("navlinks");
          if (x.style.display === "none") {
            x.style.display = "flex";

          }else if(x.style.display === "flex"){
            x.style.display= "none";
        }else{
            x.style.display="flex";
          }
        }
    </script>
  </body>
</html>
